<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Nolsoundia
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card class="welcome-card">
    <!-- <img src="/assets/shapes.svg" alt="" /> -->
    <ion-card-header>
      <ion-card-subtitle>Nolsoundia</ion-card-subtitle>
      <ion-card-title>Add Sounds</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <span *ngFor="let sound of sounds">
        <ion-button (click)="playSound(sound.sound)">
          <ion-icon [name]="sound.ionicon"></ion-icon>
          &nbsp;&nbsp;&nbsp;{{ sound.name }}
        </ion-button>
      </span>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>SOUNDS</ion-card-subtitle>
      <ion-card-title>Remove Sounds</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <span *ngFor="let sound of sounds">
        <ion-button color="danger" (click)="stopSound(sound.sound)">
          <ion-icon [name]="sound.ionicon"></ion-icon>
          {{ sound.name }}
        </ion-button>
      </span>
    </ion-card-content>
  </ion-card> -->
</ion-content>


